/* Main page header */
header {
    position: fixed;
    top: 1;
    padding: 10px 16px;
    text-align: center;
    font-size: 56px;
    margin: 30px 0 20px 0;
    font-weight: bold;
    border: 4px solid #4a8a1f; /* green border */
    background-color: #0000FF;
    line-height: 1.9;
}

