/* Main page header */
header {
    position: sticky;
    top: 0;
    padding: 10px 16px;
    text-align: center;
    font-size: 56px;
    margin: 30px 0 20px 0;
    font-weight: bold;
    background-color: #0000FF;
    line-height: 1.9;
}

